
<div id="products">
  {{#each products}}
    <div class="gallery">
       <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}} USD</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>ID: {{this.id}}</p>
    </div>
  {{/each}}
</div>


<script src="/js/index.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on("connect", () => {
    console.log(`Socket connected with id ${socket.id}`);
  });
</script>